@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


:root {
    --main-color-orange: rgba(255, 179, 66, 1);
    --main-color-dark: rgba(28, 39, 82, 1);
    --main-color-white: rgba(255, 255, 255, 1);

    }
    
    


.container {
    padding-left: 8%;
    padding-right: 8%;
}

.open-header {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 210;
    position: relative;
    height: 100px;
}

.open-time {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.36px;

    color: #1C2752;
}

.social-icons ul {
    display: flex;
    justify-content: center;
}

.social-icons ul li {
    margin-left: 20px;
}

.logo-header {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: space-between;
    align-self: center;
    justify-items: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.contact-links {
    margin-left: 15px;
}

.contact-header:last-child {
    margin-left: 65px;
}

.black-small-text {
    font-family: 'Mulish', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.36px;

    color: #1C2752;

}

.gray-small-text {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.36px;
    margin-top: -10px;

    color: #7E7E7E;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.nav-section {
    background-color: #FFB342;
    padding: 10px;
    width: 82%;
    position: fixed;
    top: 0;
    margin-left: 8%;
    margin-right: 8%;
    z-index: 5;
}


body {
    height: 100000px;
}
#button-question {
    background-color: #1C2752;
    color: #F4F4F4;
    border: none;
    padding: 19px 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.36px;
}

.nav-items ul li a {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.36px;
    margin-right: 50px;

    color: #222222;
}

.nav-items ul li a:hover {
    color: #FFFFFF;
}

button:hover {
    cursor: pointer;
}

.home-section {
    background-image: url(../images/home-background.png);
    height: 813px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.motto {
    background-color: rgba(255, 255, 255, 0.2);
    width: 55%;
    padding-left: 1%;
    padding-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.motto-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    margin-left: 10px;

    color: #FFFFFF;
}

.main-title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 78px;
    letter-spacing: 1.2px;
    text-transform: capitalize;

    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button {
    background-color: #FFB342;
    color: #1C2752;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.36px;
    border: none;
}

.button-home {
    width: 19%;
    padding-top: 19px;
    padding-bottom: 19px;
}

.welcome {
    background-color: #F4F4F4;
    width: 249px;
    display: flex;
    padding-left: 2%;
    align-items: center;
    justify-content: center;
}

.welcome-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    padding-left: 10px;

    color: #1C2752;
}

.greeting-section {
    display: flex;
    padding-top: 140px;
    padding-bottom: 139px;
}

.welcome-title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.36px;

    color: #1C2752;
}

.welcome-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 91%;
    line-height: 27px;
    letter-spacing: 0.36px;

    color: #7E7E7E;
}

.welcome-bottom-left {
    background-color: #F4F4F4;
    width: 198px;
    max-height: 220px;
}

.years-number {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 88px;
    text-align: center;
    letter-spacing: 0.36px;

    color: #FFB342;
}

.years-text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.36px;

    color: #1C2752;
}

.greeting-text-section {
    padding-left: 4%;
}

.offers-section {
    background-color: #FFB342;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 230px;
    padding-bottom: 410px;
}

.offers-title-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.36px;

    color: #1C2752;
    width: 58%;
    height: 250px;

}

.offer-buttons {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -100px;
}

.offer-btn {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #1C2752;
    width: 236px;
    height: 68px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.36px;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #222222;
}

.offer-btn:hover {
    background-color: var(--main-color-white);
    border: 1px solid var(--main-color-white);
}

.marg-img {
    margin-right: 10px;
}

.offet-item {
    width: 74%;
    box-shadow: -1px 6px 18px rgba(0, 0, 0, 0.09);
    margin-left: 8%;
    margin-right: 8%;
    padding: 5%;
    margin-top: -450px;
    position: absolute;
    z-index: 2;
    background-color: var(--main-color-white);
}

.read-more-btn {
    padding: 19px 42px;
}

#offer-img {
    width: 416px;
    height: 416px;
}

.Services-section {
    background-color: #F4F4F4;
    padding-top: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 140px;
}

.services-mini-title {
    background-color: var(--main-color-white);
    display: flex;
}

.services-block {
    background-color: #1C2752;
    width: 22%;
    padding: 2%;
    text-align: left;
    margin-top: 30px;
}

.services-block-title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 95%;
    line-height: 150%;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    margin-top: 20px;

    color: var(--main-color-orange);
}

.services-block-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 90%;
    line-height: 150%;
    letter-spacing: 0.36px;
    margin-bottom: 20px;
    margin-top: 15px;

    color: #D2D2D2;
}

.services-block-a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 90%;
    line-height: 150%;
    letter-spacing: 0.36px;

    color: #FFFFFF;

}

.services-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reasons-rigt-part {
    width: 50%;
    padding: 4%;
    background-image: url(../images/reason-background.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reasons-left-part {
    width: 50%;
    padding: 4%;
}

.reasons-rigt-part-div {
    background: rgba(28, 39, 82, 0.86);
    display: flex;
    flex-direction: column;
    padding: 14% 11%;

}

.reasons-rigt-part-div-item {
    border: 1px solid #F2F2F2;
    margin: 2%;
}

.reasons-rigt-part-div-item__number {
    background-color: var(--main-color-orange);
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.36px;
    text-align: center;
    color: var(--main-color-dark);
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;

}

.reasons-rigt-part-div-item__text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.36px;
    text-align: left;
    color: #FFFFFF;
    width: 70%;
    padding: 1%;
}

.reasons-left-part-item-text-title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.36px;
    padding: 0;
    margin: 0;

    color: var(--main-color-dark);
}

.reasons-left-part-item-check-mark {
    margin-right: 10px;
}

.welcome-title_white {
    color: var(--main-color-white);
}

.Recent-Projects {
    background-color: var(--main-color-dark);
    padding: 6% 1%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
}

.Recent-Projects-wrap-card {
    background-color: var(--main-color-white);
    padding: 1%;
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 477px;
    
}

.Recent-Projects-wrap-card:hover {
    height: 514px;
    transition: 1s;
}

.Recent-Projects-wrap-card__photo {
    height: 300px;
    overflow: hidden;
}

.Recent-Projects-wrap-card__title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: var(--main-color-dark);
}

.Recent-Projects-wrap-card__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
    text-align: center;
    letter-spacing: 0.36px;

    color: #7E7E7E;
}

